/Personal.API/.vscode
/Personal.API/bin
/Personal.API/obj
/Personal.API/Logs
/Personal.API/Migrations

/Personal.Model/bin
/Personal.Model/obj

/Personal.Data/bin
/Personal.Data/obj
/Personal.Data/Migrations

/Personal.Testing/bin
/Personal.Testing/obj

/Personal.Service/bin
/Personal.Service/obj
/temp
.vscode/settings.json
