/Personal.API/.vscode
/Personal.API/bin
/Personal.API/obj
/Personal.API/Logs
/Personal.API/Migrations

/Personal.Models/bin
/Personal.Models/obj

/Personal.Services/bin
/Personal.Services/obj
.vscode/settings.json
